<h1>List a space</h1>

<div>
  <form action="/spaces" method="post" id="spaces">
  <label>
    Name: <input name="name" type="text">
  </label>
  <label>
    <textarea rows="4" cols="50" name="description" form="spaces">
    Description:
    </textarea>
  </label>
  <label>
    Price per night(£): <input name="price" type="text">
  </label>
  <label>
    Available from: <input name="available_from" type="date">
  </label>
  <label>
    Available to: <input name="available_to" type="date">
  </label>
  <input type="submit" value="List my space">
  </form>
</div>

