<body class="main-container">

<!-- <h1>Please sign up</h1> -->

<% if !current_user %>
  <form action='/sessions/new' id='Sign-in'>
    <button type='submit' class="btn sign-in-button">Sign in</button>
  </form>
<% end %>
<div class="row">
  <div class="home-title">
    <img src="../sleepy.png">
    <h1>Makers BnB</h1>
  </div>
</div>

<div class="row">
  <div class="container s-form">
    <h1>Create an account</h1>
    <form action='/users' method='post'>

      <div class="form-group a">
        <label for='username'>Username:</label>
          <input name='username' class="form-control username-field" type='text' value='<%= @user.username %>' required>
      </div>

      <div class="form-group first-name-block">
        <label for='firstname'>First Name:</label>
        <input name='firstname' class="form-control" type='text' value='<%= @user.firstname %>' required>
      </div>

      <div class="form-group">
        <label for='lastname'>Last Name:</label>
          <input name='lastname' class="form-control" type='text' value='<%= @user.lastname %>' required>
      </div>

      <div class="form-group">
        <label for='email'>Email:</label>
          <input name='email' class="form-control" type='email' value='<%= @user.email %>' required>

      </div>

      <div class="form-group">
        <label for='password'>Password:</label>
          <input name='password' class="form-control" type='password' required>
      </div>

      <div class="form-group">
        <label for='password_confirmation'>Confirm Password:</label>
        <input name='password_confirmation' class="form-control" type='password' required>
      </div>
      <button type='submit' class="btn custom-button">Sign up</button>
      </form>
    </div>
  </div>
</div>
