<h1>Please sign up</h1>

<% if !current_user %>
  <form action='/sessions/new' id='Sign in'>
    <input type='submit' value='Sign in'>
  </form>
<% end %>

<form action='/users' method='post'>
  <label for='username'>
    Username: <input name='username' type='text' value='<%= @user.username %>' required>
  </label>
  <label for='firstname'>
    First Name: <input name='firstname' type='text' value='<%= @user.firstname %>' required>
  </label>
  <label for='lastname'>
    Last Name: <input name='lastname' type='text' value='<%= @user.lastname %>' required>
  </label>
  <label for='email'>
    Email: <input name='email' type='email' value='<%= @user.email %>' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password' required>
  </label>
  <label for='password_confirmation'>
    Confirm Password: <input name='password_confirmation' type='password' required>
  </label>
  <input type='submit' value='Sign up'>
</form>
