<h1>You have requested to book </h1><%= @space.name %>
<%= @space.description %>
<%= @space.price %>
<<<<<<< HEAD


=======
<p>Status: <%= @status %></p>
>>>>>>> 468695c537438faaaf8b6edf58d395606adf88e9
