<% if flash[:errors] && !flash[:errors].empty? %>
<div id='errors'>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
</div>
<% end %>

<% if flash[:notice] %>
<div id='notice' style="display: none;">
  <%= flash[:notice] %>
</div>
<% end %>
