<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <%= partial :welcome %>

    <%= partial :flash %>
    <%= yield %>

  </body>
</html>
